:root {
  --main1-color: rgba(0, 115, 12, 1);
  --main2-black-color: rgba(11, 11, 11, 1);
  --main3-color: rgba(12, 75, 53, 1);
  --mainbg-color: rgba(227, 227, 227, 1);
  --mainbg-white-color: rgba(255, 255, 255, 1);
  --main-bg-color: rgba(240, 240, 240, 1);
  --main1-light-bg-color-secondry: rgba(217, 241, 224, 1);
  --main3light-color: rgba(251, 238, 231, 1);
  --main-01-bg-color: rgba(255, 248, 241, 1);
  --main-bg-light-color-4: rgba(246, 246, 246, 1);
  --typographyheading-font-color: rgba(33, 37, 41, 1);
  --typographyfont-white-color: rgba(255, 255, 255, 1);
  --typography-paragraph-color: rgba(103, 103, 103, 1);
  --icon-colors-white-color: rgba(255, 255, 255, 1);
  --social-icon-color-twitter: rgba(0, 159, 238, 1);
  --social-icon-color-google: rgba(54, 124, 255, 1);
  --social-icon-color-linkedin: rgba(0, 121, 178, 1);
  --social-icon-color-pinterest: rgba(239, 20, 8, 1);
  --typograph-paragraph-color-2: rgba(215, 215, 215, 1);
  --main-bg-white-color: rgba(255, 255, 255, 1);
  --typography-heading-color: rgba(33, 37, 41, 1);
  --h1-regular-font-family: "Nunito", Helvetica;
  --h1-regular-font-weight: 400;
  --h1-regular-font-size: 78px;
  --h1-regular-letter-spacing: 0px;
  --h1-regular-line-height: normal;
  --h1-regular-font-style: normal;
  --h1-semibold-font-family: "Nunito", Helvetica;
  --h1-semibold-font-weight: 600;
  --h1-semibold-font-size: 78px;
  --h1-semibold-letter-spacing: 0px;
  --h1-semibold-line-height: normal;
  --h1-semibold-font-style: normal;
  --h1-bold-font-family: "Nunito", Helvetica;
  --h1-bold-font-weight: 700;
  --h1-bold-font-size: 78px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: normal;
  --h1-bold-font-style: normal;
  --h1-extra-bold-font-family: "Nunito", Helvetica;
  --h1-extra-bold-font-weight: 800;
  --h1-extra-bold-font-size: 78px;
  --h1-extra-bold-letter-spacing: 0px;
  --h1-extra-bold-line-height: normal;
  --h1-extra-bold-font-style: normal;
  --h2-regular-font-family: "Nunito", Helvetica;
  --h2-regular-font-weight: 400;
  --h2-regular-font-size: 58px;
  --h2-regular-letter-spacing: 0px;
  --h2-regular-line-height: normal;
  --h2-regular-font-style: normal;
  --h2-semibold-font-family: "Nunito", Helvetica;
  --h2-semibold-font-weight: 600;
  --h2-semibold-font-size: 58px;
  --h2-semibold-letter-spacing: 0px;
  --h2-semibold-line-height: normal;
  --h2-semibold-font-style: normal;
  --h2-bold-font-family: "Nunito", Helvetica;
  --h2-bold-font-weight: 700;
  --h2-bold-font-size: 58px;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: normal;
  --h2-bold-font-style: normal;
  --h2-extra-bold-font-family: "Nunito", Helvetica;
  --h2-extra-bold-font-weight: 800;
  --h2-extra-bold-font-size: 58px;
  --h2-extra-bold-letter-spacing: 0px;
  --h2-extra-bold-line-height: normal;
  --h2-extra-bold-font-style: normal;
  --h3-regular-font-family: "Nunito", Helvetica;
  --h3-regular-font-weight: 400;
  --h3-regular-font-size: 45px;
  --h3-regular-letter-spacing: 0px;
  --h3-regular-line-height: normal;
  --h3-regular-font-style: normal;
  --h3-semibold-font-family: "Nunito", Helvetica;
  --h3-semibold-font-weight: 600;
  --h3-semibold-font-size: 45px;
  --h3-semibold-letter-spacing: 0px;
  --h3-semibold-line-height: normal;
  --h3-semibold-font-style: normal;
  --h3-bold-font-family: "Nunito", Helvetica;
  --h3-bold-font-weight: 700;
  --h3-bold-font-size: 45px;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: normal;
  --h3-bold-font-style: normal;
  --h3-extra-bold-font-family: "Nunito", Helvetica;
  --h3-extra-bold-font-weight: 800;
  --h3-extra-bold-font-size: 45px;
  --h3-extra-bold-letter-spacing: 0px;
  --h3-extra-bold-line-height: normal;
  --h3-extra-bold-font-style: normal;
  --h4-regular-font-family: "Nunito", Helvetica;
  --h4-regular-font-weight: 400;
  --h4-regular-font-size: 33px;
  --h4-regular-letter-spacing: 0px;
  --h4-regular-line-height: normal;
  --h4-regular-font-style: normal;
  --h4-semibold-font-family: "Nunito", Helvetica;
  --h4-semibold-font-weight: 600;
  --h4-semibold-font-size: 33px;
  --h4-semibold-letter-spacing: 0px;
  --h4-semibold-line-height: normal;
  --h4-semibold-font-style: normal;
  --h4-bold-font-family: "Nunito", Helvetica;
  --h4-bold-font-weight: 700;
  --h4-bold-font-size: 33px;
  --h4-bold-letter-spacing: 0px;
  --h4-bold-line-height: normal;
  --h4-bold-font-style: normal;
  --h4-extra-bold-font-family: "Nunito", Helvetica;
  --h4-extra-bold-font-weight: 800;
  --h4-extra-bold-font-size: 33px;
  --h4-extra-bold-letter-spacing: 0px;
  --h4-extra-bold-line-height: normal;
  --h4-extra-bold-font-style: normal;
  --h5-regular-font-family: "Nunito", Helvetica;
  --h5-regular-font-weight: 400;
  --h5-regular-font-size: 24px;
  --h5-regular-letter-spacing: 0px;
  --h5-regular-line-height: normal;
  --h5-regular-font-style: normal;
  --h5-semibold-font-family: "Nunito", Helvetica;
  --h5-semibold-font-weight: 600;
  --h5-semibold-font-size: 24px;
  --h5-semibold-letter-spacing: 0px;
  --h5-semibold-line-height: normal;
  --h5-semibold-font-style: normal;
  --h5-bold-font-family: "Nunito", Helvetica;
  --h5-bold-font-weight: 700;
  --h5-bold-font-size: 24px;
  --h5-bold-letter-spacing: 0px;
  --h5-bold-line-height: normal;
  --h5-bold-font-style: normal;
  --h5-extra-bold-font-family: "Nunito", Helvetica;
  --h5-extra-bold-font-weight: 800;
  --h5-extra-bold-font-size: 24px;
  --h5-extra-bold-letter-spacing: 0px;
  --h5-extra-bold-line-height: normal;
  --h5-extra-bold-font-style: normal;
  --h6-regular-font-family: "Poppins", Helvetica;
  --h6-regular-font-weight: 400;
  --h6-regular-font-size: 16px;
  --h6-regular-letter-spacing: 0px;
  --h6-regular-line-height: 28px;
  --h6-regular-font-style: normal;
  --h6-medium-font-family: "Nunito", Helvetica;
  --h6-medium-font-weight: 600;
  --h6-medium-font-size: 18px;
  --h6-medium-letter-spacing: 0px;
  --h6-medium-line-height: 30px;
  --h6-medium-font-style: normal;
  --h6-semibold-font-family: "Nunito", Helvetica;
  --h6-semibold-font-weight: 600;
  --h6-semibold-font-size: 18px;
  --h6-semibold-letter-spacing: 0px;
  --h6-semibold-line-height: 30px;
  --h6-semibold-font-style: normal;
  --h6-bold-font-family: "Nunito", Helvetica;
  --h6-bold-font-weight: 700;
  --h6-bold-font-size: 18px;
  --h6-bold-letter-spacing: 0px;
  --h6-bold-line-height: 30px;
  --h6-bold-font-style: normal;
  --extra-font-regular-font-family: "Poppins", Helvetica;
  --extra-font-regular-font-weight: 400;
  --extra-font-regular-font-size: 16px;
  --extra-font-regular-letter-spacing: 0px;
  --extra-font-regular-line-height: 28px;
  --extra-font-regular-font-style: normal;
  --extra-font-medium-font-family: "Poppins", Helvetica;
  --extra-font-medium-font-weight: 500;
  --extra-font-medium-font-size: 16px;
  --extra-font-medium-letter-spacing: 0px;
  --extra-font-medium-line-height: 24px;
  --extra-font-medium-font-style: normal;
  --extra-font-semibold-font-family: "Poppins", Helvetica;
  --extra-font-semibold-font-weight: 600;
  --extra-font-semibold-font-size: 16px;
  --extra-font-semibold-letter-spacing: 0px;
  --extra-font-semibold-line-height: 24px;
  --extra-font-semibold-font-style: normal;
  --extra-font-bold-font-family: "Poppins", Helvetica;
  --extra-font-bold-font-weight: 700;
  --extra-font-bold-font-size: 16px;
  --extra-font-bold-letter-spacing: 0px;
  --extra-font-bold-line-height: 24px;
  --extra-font-bold-font-style: normal;
  --sub-heading-18-px-font-family: "Poppins", Helvetica;
  --sub-heading-18-px-font-weight: 500;
  --sub-heading-18-px-font-size: 18px;
  --sub-heading-18-px-letter-spacing: 0px;
  --sub-heading-18-px-line-height: 24px;
  --sub-heading-18-px-font-style: normal;
  --sub-heading-16-px-font-family: "Poppins", Helvetica;
  --sub-heading-16-px-font-weight: 500;
  --sub-heading-16-px-font-size: 16px;
  --sub-heading-16-px-letter-spacing: 0px;
  --sub-heading-16-px-line-height: 24px;
  --sub-heading-16-px-font-style: normal;
  --button-button-text-font-family: "Nunito", Helvetica;
  --button-button-text-font-weight: 700;
  --button-button-text-font-size: 18px;
  --button-button-text-letter-spacing: 0px;
  --button-button-text-line-height: 24px;
  --button-button-text-font-style: normal;
  --card-paragraph-font-font-family: "Poppins", Helvetica;
  --card-paragraph-font-font-weight: 400;
  --card-paragraph-font-font-size: 14px;
  --card-paragraph-font-letter-spacing: 0px;
  --card-paragraph-font-line-height: 25px;
  --card-paragraph-font-font-style: normal;
  --card-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  --normal-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
}
